<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../asset/css/Base.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
    <script src="../js/formulario.js"></script>
</head>
<body>
    <div class="encabezadoForm" style="width: 100%; margin-right: 0px; margin-top: 0px;" >
        <h5>Formulario</h5>
      </div>

        
    </center>
      
      <div class="formulario" style="width: 100%; margin-right: 0; margin-bottom: 0px;" >
        <p>Tipo De Cliente</p>
        <center>
          <select id="TCliente" style="width: 60%; height: 30px; text-align: center;">
            <option value="1">Empresa</option>
            <option value="2">Estudiante</option>
          </select>
        <p>Nombre</p>
        <center>
      <input type="text" class="inputNew" id="Nombre">
      </center>
      <p id="ApeLabel" >Apellidos</p>
      <center>
    <input type="text" class="inputNew" id="Apellidos">
    </center>
      <p id="cedula">Cedula</p>
      <p id="RNC">RNC</p>
        <center>
      <input type="text" class="inputNew" id="Identidad">
      </center>
      <p>Telefono</p>
        <center>
      <input type="text" class="inputNew" id="Telefono">
      </center>
      <p>Direccion</p>
        <center>
      <input type="text" class="inputNew" id="Direccion">
      </center>
      <p>Email</p>
        <center>
      <input type="text" class="inputNew" id="Email">
      </center>
      <center>
    
      <button class="BtnAgregar" id="addCliente">
        Agregar Cliente
      </button>
      <button class="BtnAgregar" id="Hide" style="background-color:darkred;">
        Cancelar
      </button>

    </center>
      </div>
      
      </div>
    
</body>
</html>