<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/asset/css/Base.css">
    <script src="../src/asset/css/Base.css"></script>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Print</title>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../asset/css/Base.css">
   <script src="../js/Print.js"></script>
</head>
<body>
<div id="Factura" class="FacturaPrint" >
</div>

    <h1 class="FacturaEmpresa">Conforpra, SRL</h1>
    

    <div id=FacturaPrint2 class="DatosCli">
    </div>

    <div id="FacturaPrint3" class="DatosFac"> 
    </div>

    <thead>
        <tr>
                <table class="styled-table" style="width:90%;">
          <th>ID Articulo</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </thead>
        </tr>
        <tr class="">
          <tbody id="mylistPrint">
            
    </tbody>
    </table>
    <div class="tablaMenu" id="tablaResul">
    </div>

    <div class="tablaM" id="comentarioP">
        <a>Gracias por su compra</a>
</div>


</body>
</html>